@media screen and (min-width: 40rem) {

    .cards section {
        grid-template-areas:
    
        "photo name" 
        "photo address"
        "photo description"
        "button button"
    }

    .cards section img {
        max-width: 300px;
        box-shadow: 0 0 5px;
        margin: 10px;
    }

    .cards img:hover{
        filter: contrast(50%);
    }
}