:root{
    --ivory: #ffffebff;
    --orange-crayola: #ff7733ff;
    --lapis-lazuli: #00587aff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    background: var(--ivory);
}

/* NAV */


nav {
    background: var(--lapis-lazuli);
    padding: .75rem;

}

#navigation {
    display: block;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-align: center;
    padding: .75rem;
}

nav a:hover {
    background: var(--orange-crayola);
    padding: .75rem;
}

.active:hover {
    background: var(--ivory);
}

/* MAIN */

h1 {
    position: absolute;
    padding: 10px;
    background: rgba(214, 214, 214, 0.8);
    margin-top: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 3px 3px 10px gray;
}

#hero{
    width: 100%;
}

section {
    padding: 1rem;
    text-align: center;
    
}

.weather {
    text-align: center;
    background: lightblue;
    margin: 10px;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px gray;

}

.call {
    background: lightsalmon;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    margin: 10px;
}

.call h2 {

    padding: 10px;
    margin-bottom: 1rem;
    margin-top: -1rem;

}

.call button {
    margin-top: 1rem;
    padding: .75rem;
    width: 100%;
    font-size: large;
}

.events {
    background: lightgray;
}

.spotlight {
    background: var(--orange-crayola);
}

.spotlight section {
    background: white;
    box-shadow: rgb(243, 215, 59) 0 0 1rem;
    border-radius: 1rem;
    margin: 10px;
}

.events {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: inset 0 0 10px;
}

.events h2 {
    grid-column: 1/3;
}

.events div {
    background: aqua;
    margin: 10px;
    padding: 1em;

}



