:root{
    --ivory: #ffffebff;
    --orange-crayola: #ff7733ff;
    --lapis-lazuli: #00587aff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;

}

/* NAV */


nav {
    background: var(--lapis-lazuli);
    padding: .75rem;

}

#navigation {

    list-style: none;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-align: center;
    padding: 1rem;
    color: var(--ivory);
}

nav a:hover {
    background: var(--orange-crayola);
    padding: 1rem;
    color: black;
}

.active:hover {
    background: var(--ivory);
}

/* MAIN */

h1 {
    position: absolute;
    padding: 10px;
    background: rgba(214, 214, 214, 0.8);
    margin-top: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 3px 3px 10px gray;
}

#hero{
    width: 100%;
}

section {
    padding: 1rem;
    text-align: center;
    
}

section img {
    width: 200px;
}

.weather {
    text-align: center;
    background: lightgray;
    margin: 10px;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px gray;
}

.weather img {
    margin: 10px;
}

/* .call {
    background: lightsalmon;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    margin: 10px;
} */

.call h2 {

    padding: 10px;
    margin-bottom: 1rem;
    margin-top: -1rem;
}

.call button {
    margin-top: 1rem;
    background: var(--orange-crayola);
    padding: .75rem;
    width: 100%;
    font-size: large;
}

.events {
    background: lightgray;
}

.spotlight {
    background: var(--orange-crayola);
}

.spotlight section {
    background: white;
    box-shadow: rgb(243, 215, 59) 0 0 1rem;
    border-radius: 1rem;
    margin: 10px;
}

.events {
    text-align: left;
    border-top: 1px solid var(--lapis-lazuli);
    border-bottom: 1px solid var(--lapis-lazuli);
    height: 200px;
}




/* FOOTER */
 
footer {
    background: var(--lapis-lazuli);
    text-align: right;
    color: white;
    padding: 1rem;
    border-top: 2px solid black;
}