@media only screen and (min-width: 38rem) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }

    h1 {
        grid-column: 1/3;
    }

    #hamButton {
        display: none;
    }

    ul.mainLinks, ul.mainLinks.open {
        display: flex;
        justify-content: space-evenly;
    }


    nav { 
        grid-template-rows: 1fr;
    }

    nav li{
        flex: 1 1 100%;
        text-align: center;
    }


main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 10%;
    grid-gap: 10px;
}

#wide {
    display: block;
    grid-column: 1/5;
    width: 100%;
}

#hero {
    display: none;
}



/* SECTIONS */

.weather {

    grid-column: 3/5;

}
.call {
    grid-column: 1/3;
}

.events {
    grid-column: 1 / 5;
}

.spotlight {
    grid-column: 1/5;
}

}

