:root {
    --rich-black: hsla(208, 90%, 8%, 1);
    --robin-egg-blue: hsla(178, 65%, 54%, 1);
    --robin-egg-blue-light: hsla(178, 65%, 54%, 0.7);
    --mint: hsla(166, 100%, 40%, 1);
    --lapis-lazuli: rgb(61, 160, 199);
}

header img {
    width: 100px;
    height: auto;
    background: var(--robin-egg-blue);

}

*{
    margin: 0;
    padding: 0;
}



/* HEADER */ 

header {
    display: grid;
    grid-template-columns: 100px auto 44px;
    align-items: end;
    background: var(--mint);
    align-items: center;
}

#title { 
    padding-left: 1rem;
    font-size: 20px;
}

header img {
    width: 100%;
    border-radius: 0 0 40px 0;
}

/* NAVIGATION */



#hamButton {
    height: 44px;
    font-size: 2rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .1rem 2vw;

}



ul.mainLinks li a {
    color: var(--ivory);
    display: block;
    padding: .75rem 2vw;
    text-decoration: none;
}

ul.mainLinks a:hover {
    background: var(--mint)
}

li.active a{
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 5px black;
}

/*css for opening and closing the nav */
ul.mainLinks {
    list-style-type: none;
}

#hamButton::before {
    content: "\2630";
}

#hamButton.open::before {
    content: "x";
}

/* CSS for open class */
nav {
    background: var(--lapis-lazuli);
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {overflow: hidden;}

nav.open {
    grid-template-rows: 1fr;
}

.cards img {
    width: auto;
    max-height: 300px;
    background: var(--robin-egg-blue);
    box-shadow: 0 0 5px gray;
}

.cards img:hover{
    filter:brightness(0.9);
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin: 1rem;
    text-align: center;
}

dialog {
    background: var(--lapis-lazuli);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--rich-black);
    padding: 2rem;
    width: 90vw;
    max-width: 500px;
    justify-self: center;
    align-self: center;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.6);
}

dialog button {
    padding: .75rem;
    margin-top: 1rem;
}

dialog p {
    padding: 10px;
}
