@media screen and (min-width: 650px) {

    




    nav ol{
        display: flex;
        justify-content: space-around;

    }

    nav ol li{
        display: block;
        flex: 1 1 100%;
        text-align: center;
    }


    .info {
        display: grid;
        grid-template-columns: 1fr 30%;
    }


    #dropbtn {
        display: none;
    }


    #school {
        grid-column: 1/4;
    }

    #courses {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}